<div class="d-flex flex-wrap">
    <div class="row">
      <% @trips.each do |trip| %>
        <div class="col-sm-6 col-md-3 trip-column">
          <div class="card trip-card">
            <%= cl_image_tag(trip.photo, height: 120, crop: "scale") %>
            <div class="card-info">
              <div class="title">
                <%= trip.activity.name %>
              </div>
              <div class="description">
                <%= trip.title %>
              </div>
              <div class="subtitle">
                £ <%= trip.price %> <i class="fas fa-circle green-dot"></i> <%=trip.start_date %>
              </div>
              <%= link_to "", trip_path(trip), class: "stretched-link" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
