<div class="d-flex flex-wrap">
    <div class="row">
      <% @trips.each do |trip| %>
        <div class="col-sm-6 col-md-3 trip-column">
          <div class="card trip-card">
            <%= cl_image_tag(trip.photo, height: 320, gravity: :auto, crop: :fill) %>
            <div class="card-info">
              <div class="title">
                <%= trip.activity.name %>
              </div>
              <div class="description">
                <%= trip.title %>
              </div>
              <div class="title d-flex justify-content-between pr-3">
                <span>
                  <%= trip.start_date.strftime('%b %Y') %>
                </span>
                <span>
                  £<%= trip.price.to_i.round %>pp
                </span>
                <span>
                  Max <%= trip.max_crew_size %> <i class="fas fa-users"></i>
                </span>
              </div>
              <%= link_to "", trip_path(trip), class: "stretched-link" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
