<div class="d-flex flex-wrap">
      <% trips.each do |trip| %>
        <div class="col-sm-6 col-md-4 trip-column">
          <div class="card trip-card">
            <% if trip.photo %>
              <div class="trip-image" style="background-image: url('<%= cl_image_path(trip.photo, gravity: :auto) %>')">
            <% end %>
              </div>
            <div class="card-info">
              <div class="badge badge-secondary" style="position: absolute; top:16px; left:16px; background: #f57665">
                <%= trip.activity.name %>
              </div>
              <% if trip.start_date < (Date.today + 1) %>
              <div class="badge badge-danger" style="position: absolute; top:320px; left:16px; background: #3CEAD0; font-size: 1em;">
                <i class="fas fa-stopwatch"></i> Starts today!
              </div>
              <% end %>
              <div class="description">
                <%= trip.title %>
              </div>
              <div class="title d-flex justify-content-between pr-3">
                <span>
                  <%= trip.start_date.strftime('%b %Y') %>
                </span>
                <span>
                  £<%= trip.price.to_i.round %>pp
                </span>
                <span>
                  Max <%= trip.max_crew_size %> <i class="fas fa-users"></i>
                </span>
              </div>
              <%= link_to "", trip_path(trip), class: "stretched-link" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
