<div class="container">
  <%= content_for(:title, "View active trips") %>
  <div class="trip-title w-100 p-3 underline d-flex flex-column justify-content-between rounded" style="height: 400px; background-image:
  linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
    url(<%= asset_path('home-splash') %>)">
    <div class="d-flex justify-content-between">
      <span>
        <h1 class="text-white display-3">Choose your dream adventure...</h1>
      </span>
      <span>
        <h3><a class="text-white" href="#map">View map <i class="fas fa-map-signs"></i></a></h3>
      </span>
    </div>
  <div class="trip-icons d-flex justify-content-between">
    <a class="btn btn-outline-primary btn-light activity-btn" href="/trips">All trips</a>
    <% @activities.each do |activity| <%></%>
        <a class="btn btn-light activity-btn" href="/trips?activity_id=<%= activity.id %>" >
          <i class= "<%= activity.style %>"> </i> <%= activity.name %>
        </a>
    <% end %>
  </div>
  </div>


 <div id="showTripsElem">
   <%= render partial: 'trips/trips', locals: { trips: @trips } %>
 </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


