<div class="container">
  <%= content_for(:title, "View active trips") %>
  <div class="trip-title">
    <h1>Choose your dream adventure...</h1>
  </div>

  <div class="trip-icons d-flex justify-content-between">
    <a class="btn btn-outline-primary altitude" href="#" ><i class="fas fa-mountain"></i> altitude</a>
    <a class="btn btn-outline-primary summer" href="#"><i class="fas fa-sun"></i> summer</a>
    <a class="btn btn-outline-primary water" href="#"><i class="fas fa-water"></i> water</a>
    <a class="btn btn-outline-primary snow" href="#"><i class="far fa-snowflake"></i> snow</a>
    <a class="btn btn-outline-primary wind" href="#"><i class="fas fa-wind"></i> wind</a>
  </div>

  <div class="d-flex flex-wrap">

 <%@trips.each do |trip| %>

    <div class="card w-25" style="min-width: 200px">
      <div class="card-title">
        <%= trip.destination %> | <%= trip.activity.name %>
      </div>
      <div class="card-subtitle">
        <%= trip.price %>
      </div>
      <div class="card-text">
        <%= trip.description %>
        <br>
        <%= link_to "View trip", trip_path(trip) %>
      </div>
    </div>
    <% end %>
  </div>

</div>
