<div class="container">
  <%= content_for(:title, "View active trips") %>
  <h1>View active trips</h1>
  <br>
  <h2>View all trips here</h2>

  <div class="d-flex flex-wrap">

 <%@trips.each do |trip| %>

    <div class="card w-25" style="min-width: 200px">
      <div class="card-title">
        <%= trip.destination %> | <%= trip.activity.name %>
      </div>
      <div class="card-subtitle">
        <%= trip.price %>
      </div>
      <div class="card-text">
        <%= trip.description %>
        <br>
        <%= link_to "View trip", trip_path(trip) %>
      </div>
    </div>
    <% end %>
  </div>

</div>
