<div class="container">
  <%= content_for(:title, "View active trips") %>
  <div class="trip-title underline">
    <h1>Choose your dream adventure... <a href="#map"><i class="fas fa-map-signs"></i></a></h1>
  </div>

  <div class="trip-icons d-flex justify-content-between">
    <a class="btn btn-outline-primary altitude" href="#" ><i class="fas fa-mountain"></i> altitude</a>
    <a class="btn btn-outline-primary summer" href="#"><i class="fas fa-sun"></i> summer</a>
    <a class="btn btn-outline-primary water" href="#"><i class="fas fa-water"></i> water</a>
    <a class="btn btn-outline-primary snow" href="#"><i class="far fa-snowflake"></i> snow</a>
    <a class="btn btn-outline-primary wind" href="#"><i class="fas fa-wind"></i> wind</a>
  </div>

  <div class="d-flex flex-wrap">
    <div class="row">
      <% @trips.each do |trip| %>
        <div class="col-sm-6 col-md-3 trip-column">
          <div class="card trip-card">
            <%#= cl_image_tag trip.photo, height: 200, width: auto %>
            <%= cl_image_tag(trip.photo, height: 120, crop: "scale") %>
            <div class="card-info">
              <div class="title">
                <%= trip.activity.name %>
              </div>
              <div class="description">
                <%= trip.title %>
              </div>
              <div class="subtitle">
                £ <%= trip.price %> <i class="fas fa-circle green-dot"></i> (May 2019) <%#=trip.date %>
              </div>
              <%= link_to "", trip_path(trip), class: "stretched-link" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>


</div>


