<div class="container">
  <%= content_for(:title, "View active trips") %>
  <div class="trip-title underline">
    <h1>Choose your dream adventure... <a href="#map"><i class="fas fa-map-signs"></i></a></h1>
  </div>

  <div class="trip-icons d-flex justify-content-between">
    <% @activities.each do |activity| %>
        <a class="btn btn-outline-primary activity-btn" href="/trips?activity_id=<%= activity.id %>" >
         <!--  data-remote="true" -->
          <i class= "<%= activity.style %>"> </i> <%= activity.name %>
        </a>
    <% end %>
    <a class="btn btn-outline-primary activity-btn" href="/trips">All trips</a>
  </div>

 <div id="showTripsElem">
   <%= render partial: 'trips/trips', locals: { trips: @trips } %>
 </div>


  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


