
<h1>Would you like to go <%= @trip.title %>, with <%= @trip.user.first_name %>?</h1>


  <%= render "group_members/index" %>

<div class="trip-info">
  <p><strong>Trip description: </strong><%= @trip.description %></p>
  <p><strong>Trip destination: </strong><%= @trip.destination %></p>
  <p><strong>Trip activity: </strong><%= @trip.activity.name %></p>
  <p><strong>Trip price: </strong>£<%= @trip.price%></p>
  <% @trip.group.users.each do |user| %>
    <p><strong>Group member: </strong><%=user.first_name%> <br> <strong>Bio: </strong><%=user.bio%></p>
  <% end %>

    <% if user_signed_in? %>
    <%= link_to "Contact organiser", new_trip_group_member_path(@trip) %>
    <% else %>
    <%= link_to "Register to contact organiser",new_user_registration_path  %>
    <% end %>

  <p><%= link_to "Return to Trips Index", trips_path %></p>

 </div>

<!--
<p><%#= link_to "Edit trip", edit_trip_path  %></p> -->

