


<h1>Would you like to go <%= @trip.title %>, with <%= @trip.user.first_name %>?</h1>

  <% if current_user == @trip.user %>
    <%= render "group_members/index" %>
  <% end %>

<div class="trip-info">
  <p><strong>Trip description: </strong><%= @trip.description %></p>
  <p><strong>Trip destination: </strong><%= @trip.destination %></p>
  <p><strong>Trip activity: </strong><%= @trip.activity.name %></p>
  <p><strong>Trip price: </strong>£<%= @trip.price%></p>
  <% accepted_members = @trip.group.group_members.where(status: 'accepted') %>
  <% accepted_members.each do |member| %>
    <%  accepted_user = User.find(member.user_id) %>
    <p><strong>Group member: </strong><%=accepted_user.first_name%> <br> <strong>Bio: </strong><%=accepted_user.bio%></p>
  <% end %>



  <% group = @trip.group.group_members.where(user: current_user) %>
    <% if group.any? %>
    <p>you are already a group member on this trip</p>
    <% else %>
    <h1>You are not a group member on this trip, why not apply to join?</h1>
    <%= link_to "Contact organiser", new_trip_group_member_path(@trip) %>
  <% end %>

  <% accepted_array = [] %>
    <% group.each do |member| %>
      <% if member.status == 'accepted' %>
      <% accepted_array << member.user_id %>
    <% end %>
  <% end %>

  <% if accepted_array.include?(current_user.id) %>

    <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 chat-form">
            <div class="chat-header"><h4><%= @chat_room.name.capitalize %></h4></div>
            <div class="messages">
              <% @chat_room.messages.each do |message| %>
                <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
              <% end %>
            </div>
            <div id="create-message">
              <%= simple_form_for [ @chat_room, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
                <%= f.input :content, label: false %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
    <% content_for :after_js do %>
      <script>
        scrollLastMessageIntoView();
        App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> }, {
          received: (data) => {
            if (data.current_user_id !== <%= current_user.id %>) {
              const messagesContainer = document.querySelector('.messages');
              messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
              scrollLastMessageIntoView();
            }
          }
        })
      </script>
    <% end %>

    <% else %>
       <% if user_signed_in? %>
      <%= link_to "Contact organiser", new_trip_group_member_path(@trip) %>
      <% else %>
      <%= link_to "Register to contact organiser",new_user_registration_path  %>
      <% end %>

  <% end %>




  <p><%= link_to "Return to Trips Index", trips_path %></p>

 </div>

<!--
<p><%#= link_to "Edit trip", edit_trip_path  %></p> -->

