<div class="show-holder">
  <h1 class="form-header">Would you like to go <%= @trip.title %>, with <%= @trip.user.first_name %>?</h1>


  <div class="trip-info">
    <p><%= @trip.description %></p>
    <p><strong>Destination: </strong><%= @trip.destination %></p>
    <p><strong>Activity: </strong><%= @trip.activity.name %></p>
    <p><strong>Estimated cost: </strong>£<%= @trip.price%></p>
    <%= cl_image_tag(@trip.photo, width: 300, crop: 'fill') %>
  </div>

  <div class="accepted-members">
    <h3 class="form-header">  Crew members</h3>
    <div class="contents">
    <% accepted_members = @trip.group.group_members.where(status: 'accepted') %>
    <% accepted_members.each do |member| %>
      <%  accepted_user = User.find(member.user_id) %>
      <p><strong><%=accepted_user.first_name%></strong> <br><%=accepted_user.bio%></p>
    <% end %>
    </div>
  </div>


  <div class="group-members accepted-members">
    <% if user_signed_in? && current_user == @trip.user %>
      <%= render "group_members/index" %>
    <% end %>

    <% group = @trip.group.group_members.where(user: current_user) %>
      <% if group.any? || current_user == @trip.user %>
      <% else %>
      <h1>You are not a group member on this trip, why not apply to join?</h1>
    <% end %>
  </div>

  <div class="chat">
    <% if user_signed_in? %>
    <% accepted_array = [] %>
      <% group.each do |member| %>
        <% if member.status == 'accepted' %>
        <% accepted_array << member.user_id %>
      <% end %>
    <% end %>

    <% if accepted_array.include?(current_user.id) || current_user == @trip.user %>

      <% groupid = @trip.group.id%>
      <% rooms = ChatRoom.where(group_id: groupid) %>
      <% rooms.each do |cr| %>
      <% @chat_room = cr %>
      <% end %>

      <% unless @chat_room == nil %>

        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 chat-form">
                <div class="chat-header d-flex justify-content-between"><h4><%= @chat_room.name.capitalize %></h4>
                  <% order_paid = true if Order.find_by(user: current_user, trip: @trip, state: 'paid') %>
                  <%# raise %>
                  <% unless order_paid %>
                  <% @order = Order.create!(trip: @trip, amount: (@trip.price/10), state: 'pending', user: current_user) %>
                  <%= link_to "Pay £#{@trip.price/10} deposit", '#depositModal', 'data-toggle' => 'modal', class: "btn-primary btn-sm" %>
                  <% end %>
</div>
                <div class="messages">
                  <% @chat_room.messages.each do |message| %>
                    <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
                  <% end %>
                </div>
                <div id="create-message">
                  <%= simple_form_for [ @chat_room, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
                    <%= f.input :content, label: false %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <% content_for :after_js do %>
          <script>
            scrollLastMessageIntoView();
            App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> }, {
              received: (data) => {
                if (data.current_user_id !== <%= current_user.id %>) {
                  const messagesContainer = document.querySelector('.messages');
                  messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
                  scrollLastMessageIntoView();
                }
              }
            })
          </script>
        <% end %>
      <% end %>

      <% else %>
        <%= link_to "Contact organiser", new_trip_group_member_path(@trip) %>
      <% end %>
    <% end %>
  </div>
  <div class="button">
  <%= link_to "Return to Trips Index", trips_path, class: "btn btn-outline-success" %>
  <%= link_to "Contact organiser", new_trip_group_member_path(@trip), class: "btn btn-outline-success" %>
</div>
</div>


<!-- Modal log in-->
<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header form-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pay deposit of <% @trip.price %> to secure your place</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% unless order_paid %>
        <%= render 'payments/new' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


