 <h3>Manage crew</h3>
  <div class="row" >
    <div class="col-sm">
      <p><strong>Pending</strong></p>
      <% pending_index.each do |member| %>
      <ul>
        <li><%= member.user.first_name %></li>
        <li><%= member.message_to_organiser %></li>
        <li><%= member.status %></li>
      </ul>

      <%= simple_form_for [@trip, member] do |f|%>

        <%= f.input :status, :as => :hidden, :input_html => { :value => "rejected" } %>

        <%= f.submit "reject", class: "btn btn-danger"%>

      <% end %>

      <%= simple_form_for [@trip, member] do |f|%>

        <%= f.input :status, :as => :hidden, :input_html => { :value => "accepted" } %>

        <%= f.submit "accept", class: "btn btn-success"%>

      <% end %>
      <% end %>
    </div>

    <div class="col-sm">
      <p><strong>Accepted</strong></p>
      <% accepted_index.each do |member| %>
      <ul>
        <li><%= member.user.first_name %></li>
      </ul>
      <% end %>
    </div>

    <div class="col-sm">
      <p><strong>Rejected</strong></p>
      <% rejected_index.each do |member| %>
      <ul>
        <li><%= member.user.first_name %></li>
      </ul>
      <% end %>
    </div>

  </div>
</div>
