<h1>View the statuses of different group members</h1>
<% @trip = Trip.find(params[:trip_id]) %>

<% pending_index.each do |member| %>
<ul>
  <li><%= member.user.first_name %></li>
  <li><%= member.status %></li>
</ul>

<%= simple_form_for [@trip, member] do |f|%>

<%= f.input :status, :as => :hidden, :input_html => { :value => "rejected" } %>

<%= f.submit "reject", class: "btn btn-danger"%>

<% end %>

<%= simple_form_for [@trip, member] do |f|%>

<%= f.input :status, :as => :hidden, :input_html => { :value => "accepted" } %>

<%= f.submit "accept", class: "btn btn-success"%>

<% end %>
<% end %>

<% rejected_index.each do |member| %>
<ul>
  <li><%= member.user.first_name %></li>
  <li><%= member.status %></li>
</ul>
<% end %>

<% accepted_index.each do |member| %>
<ul>
  <li><%= member.user.first_name %></li>
  <li><%= member.status %></li>
</ul>
<% end %>
