<h1>Edit <%= @user.first_name %>'s profile</h1>

<%= simple_form_for @user, method: "patch" do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :dob %>
  <%= f.input :location %>
  <%= f.input :bio %>
  <%= f.submit "Edit profile" %>
<% end %>

<%= link_to "Return to profile", user_path(@user) %>
