<html>
<body>



<div class="container">
  <div class="row">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div class="row">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= cl_image_tag @user.photo, height: 300, width: 300, class: 'card-img' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">
              <ul>
              <li><strong>First Name: </strong><%= @user.first_name %></li>
              <li><strong>Last name: </strong><%= @user.last_name %></li>
              <li><strong>Email: </strong><%= @user.email %></  li>
              <li><strong>Date of Birth: </strong><%= @user.dob %></li>
              <li><strong>Your location: </strong><%= @user.location %></li>
              <li><strong>A bit about you: </strong><%= @user.bio %></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
          <div class="tab">
            <button class="tablinks" onclick="openTrip(event, 'Organised')">Trips I've Organised</button>
            <button class="tablinks" onclick="openTrip(event, 'Joined')">Trips I've Joined</button>
          </div>


        <div id="Organised" class="tabcontent dflex">
           <h2>Planned Trips</h2>
            <div class="d-flex flex-wrap">
                <div class="row">
                  <% x = -1 %>
                 <% @planned_trips.each do |planned| %>
                    <div class="col-sm-6 col-md-3 trip-column">
                      <div class="card trip-card">
                        <%= cl_image_tag(planned.photo, height: 120, crop: "scale") %>
                        <div class="card-info">
                          <div class="title">
                            <%= planned.title %>
                          </div>
                          <div class="description">
                            <%= planned.description %>
                          </div>
                          <div class="subtitle">
                            £ <%= planned.price %> <i class="fas fa-circle green-dot"></i> <%=planned.start_date %>
                          </div>
                          <%= link_to "", trip_path(planned), class: "stretched-link" %>
                          <% if planned.orders[x] == "paid" %>
                             <p> Deposit paid <i class="fas fa-check-circle"></i></p>
                          <% else %>
                             <p> Deposit outstanding <i class="fas fa-exclamation-circle"></i></p>
                          <% end %>
                          <% x += 1 %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

          <div id="Joined" class="tabcontent">
             <h2>Joined Trips</h2>
                  <div class="d-flex flex-wrap">
                <div class="row">
                  <% y = 0 %>
                 <% @joined_trips.each do |joined| %>
                    <div class="col-sm-6 col-md-3 trip-column">
                      <div class="card trip-card">
                        <div class="photo-top">
                        <%= cl_image_tag(joined.photo, width: 271, crop: "scale") %>
                          <div class="deposit-status">
                          <% if joined.orders[y] == "paid" %>
                              <p> Deposit paid <i class="fas fa-check-circle"></i></p>
                            <% else %>
                              <p> Deposit outstanding <i class="fas fa-exclamation-circle"></i></p>
                            <% end %>
                            <% y += 1 %>
                          </div>
                        </div>
                        <div class="card-info">
                          <div class="title">
                            <%= joined.title %>
                          </div>
                          <div class="description">
                            <%= joined.description %>
                          </div>
                          <div class="subtitle">
                            £ <%= joined.price %> <i class="fas fa-circle green-dot"></i> <%=joined.start_date %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
          </div>

<script>
          function openTrip(evt, tripName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tripName).style.display = "block";
            evt.currentTarget.className += " active";
          }
</script>

          </body>
          </html>
