<h1><%= @user.first_name %> <%= @user.last_name %>'s profile</h1>

<div>
<ul>
  <%= cl_image_tag @user.photo, height: 300, width: 300 %>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></  li>
  <li><%= @user.dob %></li>
  <li><%= @user.location %></li>
  <li><%= @user.bio %></li>
</ul>
</div>

<%= link_to "Edit user", edit_user_path %>
