<html>
<body>



<div class="container">
  <div class="row">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div class="row">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= cl_image_tag @user.photo, height: 300, width: 300, class: 'card-img' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">
              <ul>
              <li><strong>First Name: </strong><%= @user.first_name %></li>
              <li><strong>Last name: </strong><%= @user.last_name %></li>
              <li><strong>Email: </strong><%= @user.email %></  li>
              <li><strong>Date of Birth: </strong><%= @user.dob %></li>
              <li><strong>Your location: </strong><%= @user.location %></li>
              <li><strong>A bit about you: </strong><%= @user.bio %></li>
              </ul>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
          <div class="tab">
            <button class="tablinks" onclick="openTrip(event, 'Organised')">Trips I've Organised</button>
            <button class="tablinks" onclick="openTrip(event, 'Joined')">Trips I've Joined</button>
          </div>

          <div id="Organised" class="tabcontent">
              <% @planned_trips.each do |planned| %>
                <div class="card card-organised">
                <div class="card-header organised-header"><%= planned.title %></div>
                  <div class="card-body text-secondary">
                    <p class="card-text"><strong>Destination: </strong><%= planned.destination %></p>
                    <p class="card-text"><strong>Description: </strong><%= planned.description %></p>
                    <p class="card-text"><strong>Start Date: </strong><%= planned.start_date %></p>
                    <p class="card-text"><strong>End Date: </strong> <%= planned.end_date %></p>
                    <p class="card-text"><strong>Price: </strong><%= planned.price_cents %></p>
                  </div>
              <% end %>
                </div>
          </div>

          <div id="Joined" class="tabcontent">
             <h2>Joined Trips</h2>
                  <% @joined_trips.each do |joined| %>
                  <div class="card card-joined">
                    <div class="card-header joined-header"><%= joined.title %></div>
                    <div class="card-body text-secondary">
                        <p class="card-text">Destination: <%= joined.destination %></p>
                        <p class="card-text">Description: <%= joined.description %></p>
                        <p class="card-text">Start Date: <%= joined.start_date %></p>
                        <p class="card-text">End Date: <%= joined.end_date %></p>
                        <p class="card-text">Price: <%= joined.price_cents %></p>
                    </div>
                  </div>
                  <% end %>
                </div>
          </div>

<script>
          function openTrip(evt, tripName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tripName).style.display = "block";
            evt.currentTarget.className += " active";
          }
</script>

          </body>
          </html>
