<h1><%= @user.first_name %> <%= @user.last_name %>'s profile</h1>

<div>
<ul>
  <%= cl_image_tag @user.photo, height: 300, width: 300 %>
  <li><strong>First Name: </strong><%= @user.first_name %></li>
    <li><strong>Last name: </strong><%= @user.last_name %></li>
    <li><strong>Email: </strong><%= @user.email %></  li>
    <li><strong>Date of Birth: </strong><%= @user.dob %></li>
    <li><strong>Your location: </strong><%= @user.location %></li>
    <li><strong>A bit about you: </strong><%= @user.bio %></li>
  </ul>
  </div>

<%= link_to "Edit user", edit_user_path %>
