<div class="container">
  <div class="row">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Profile</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <%= cl_image_tag @user.photo, height: 300, width: 300 %>
    </div>
    <div class="col-xs-12 col-md-8">
      <ul>
          <li><strong>First Name: </strong><%= @user.first_name %></li>
          <li><strong>Last name: </strong><%= @user.last_name %></li>
          <li><strong>Email: </strong><%= @user.email %></  li>
          <li><strong>Date of Birth: </strong><%= @user.dob %></li>
          <li><strong>Your location: </strong><%= @user.location %></li>
          <li><strong>A bit about you: </strong><%= @user.bio %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6" style="background-color: blue">
        <h2>Organised Trips</h2>
        <% @planned_trips.each do |planned| %>

            <%= planned.title  %>
            <%= planned.destination  %>
            <%= planned.description  %>
            <%= planned.price_cents  %>
            <%= planned.start_date  %>
            <%= planned.end_date  %>
          <% end %>
      </div>
      <div class="col-xs-12 col-md-6" style="background-color: yellow">
        <h2>Joined Trips</h2>
        <% @joined_trips.each do |joined| %>
          <%= joined.description  %>
        <% end %>
      </div>
    </div>
  </div>



<!--
      <div class="user-trips"> -->

        <div class="planned-trips">

        </div>

        <div class="attending-trips">


        </div>
      </div>
    </div>
  </div>
  <%= link_to "Edit user", edit_user_path %>
</div>
