<div class="container">
  <div class="d-flex justify-content-between">
    <div class="profile-content">
      <div>
        <div class="container-img">
            <div class="top-left"><h4 style="text-align: center; font-size: 35px; padding-top: 5px;"><%= @user.first_name %>
              <%= @user.last_name %><%= link_to edit_user_path(current_user) do %>
                  <% end %></h4>
            </div>
        </div>
      </div>
    </div>
    <div class="user-info"">
      <br>
      <br>
      <div class="cl-img"
              style="background-image: linear-gradient(180deg,
              rgba(0, 0, 0, 0.5),
              rgba(250, 250, 250, 0.1)), url(<%= cl_image_path(@user.photo, gravity: :auto) %>)">
            </div>
      <div class="profile-text" style="width: 700px">
          <p style="font-size: 50px;"><%= @user.first_name %> from <%= @user.location %></p>
          <div class="bio"><p style="font-size: 18px;"><%= @user.bio %></p></div>
          <p style="font-size: 18px;"><strong>Contact me:</strong> <%= @user.email %></p>

      </div>
    </div>
  </div>
  <br>
  <br>
    <div class="tab">
      <button class="tablinks" id="planned_trips_button" onclick="openTrip(event, 'Organised')">Trips I've Planned</button>
      <button class="tablinks inactive" id="joined_trips_button" onclick="openTrip(event, 'Joined')">Trips I've Joined</button>
    </div>

    <div id="organised" class="tabcontent">
      <br>
      <br>
        <div class="row">
          <% x = -1 %>
          <% @planned_trips.each do |planned| %>
          <div class="col-sm-6 col-md-3 trip-column p-3">
            <div id = "profile" class="card trip-card">
              <div class="top">
                <div class="photo-top">
                    <%= cl_image_tag(planned.photo, width: 239, height: 120, crop:"fill") %>
                  <!-- <div class="deposit-status">
                     <p><%# if planned.orders[x] == "paid" %>
                       Deposit paid <i class="fas fa-check-circle"></i>
                    <%# else %>
                    Deposit outstanding <i class="fas fa-exclamation-circle"></i>
                    <%# end %></p>
                    <%# x += 1 %>
                  </div> -->
                </div>
              </div>
              <div class="card-info">
                <div class="title">
                    <%= planned.activity.name %>
                </div>
                <div class="description">
                    <%= planned.title %>
                </div>
                 <div class="title d-flex justify-content-between pr-3">
                <span>
                  <%= planned.start_date.strftime('%b %Y') %>
                </span>
                <span>
                  £<%= planned.price.to_i.round %>pp
                </span>
                <span>
                  Max <%= planned.max_crew_size %> <i class="fas fa-users"></i>
                </span>
              </div>
                     <%= link_to "", trip_path(planned), class: "stretched-link" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>

    <div id="joined" class="tabcontent d-none">
      <br>
      <br>
        <div class="row">
          <% y = -1 %>
          <% @joined_trips.each do |joined| %>
          <div class="col-sm-6 col-md-3 trip-column">
            <div id = "profile" class="card trip-card profile">
              <div class="top">
                <div class="photo-top">
                    <%= cl_image_tag(joined.photo, width: 239, height: 120, crop:"fill") %>
                  <!-- <div class="deposit-status"> -->
                     <!-- <p><%# if joined.orders[y] == "paid" %> -->
                       <!-- Deposit paid <i class="fas fa-check-circle"></i> -->
                    <%# else %>
                   <!--  Deposit outstanding <i class="fas fa-exclamation-circle"></i> -->
                    <%# end %><!-- </p> -->
                    <%# y += 1 %>
                 <!--   </div>  -->
                </div>
              </div>
                <div class="card-info">
                <div class="title">
                    <%= joined.activity.name %>
                </div>
                <div class="description">
                    <%= joined.title %>
                </div>
                 <div class="title d-flex justify-content-between pr-3">
                <span>
                  <%= joined.start_date.strftime('%b %Y') %>
                </span>
                <span>
                  £<%= joined.price.to_i.round %>pp
                </span>
                <span>
                  Max <%= joined.max_crew_size %> <i class="fas fa-users"></i>
                </span>
              </div>
                     <%= link_to "", trip_path(joined), class: "stretched-link" %>
              </div>
            </div>
            </div>
        </div>
          <% end %>
    </div>
  </div>
</div>


<!-- tabs -->
<script>
  btnJoinedTrip = document.getElementById('joined_trips_button');
  btnPlannedTrip = document.getElementById('planned_trips_button');
  organized = document.getElementById('organised');
  joined = document.getElementById('joined');

  btnPlannedTrip.addEventListener('click', (event) => {
    btnPlannedTrip.classList.remove('inactive');
    btnJoinedTrip.classList.add('inactive');
    organized.classList.remove('d-none');
    joined.classList.add('d-none');
  });
  btnJoinedTrip.addEventListener('click', (event) => {
    btnJoinedTrip.classList.remove('inactive');
    btnPlannedTrip.classList.add('inactive');
    organized.classList.add('d-none');
    joined.classList.remove('d-none');
  });
         // Window.onLoad= openTrip(event, 'Joined');


         //  function openTrip(evt, tripName) {
         //    var i, tabcontent, tablinks;
         //    tabcontent = document.getElementsByClassName("tabcontent");
         //    for (i = 0; i < tabcontent.length; i++) {
         //      tabcontent[i].style.display = "none";
         //    }
         //    tablinks = document.getElementsByClassName("tablinks");
         //    for (i = 0; i < tablinks.length; i++) {
         //      tablinks[i].className = tablinks[i].className.replace(" active", "");
         //    }
         //    document.getElementById(tripName).style.display = "block";
         //    evt.currentTarget.className += " active";
         //  }

</script>


