<h1>Show page template for <%= @user %></h1>

<ul>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></li>
  <li><%= @user.dob %></li>
  <li><%= @user.location %></li>
  <li><%= @user.bio %></li>
</ul>
